.App {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;

    .col-left {
        background-color: coral;
    }

    .col-main {
        background-color: beige;
    }
    
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }
}